.App {
  min-height: 100vh;
  background-color: rgb(248 250 252);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}